$govuk-assets-path: "/vat-through-software/account/correspondence/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/vat-through-software/account/correspondence/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-main-wrapper {
  padding-top: 0;
}

.govuk-back-link {
  margin-bottom: 40px;
}

.govuk-box-highlight > h1 {
  margin:1em 0;
  padding: 2em 1em 2em;
  color:govuk-colour("white");
  background:#28a197;
  text-align:center;
}
